<template name="choose">
    <div class="container">
        <div class="row" id="needs_margin_top">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" id="bodycontent">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                        <h1>Course selection</h1>
                        <form>
                            <label for="selectBoard">Board</label>
                            <select id="selectBoard" name="course" class="form-control">
                                <option value="CIE">CIE</option>
                                <option class="disabled" value="Edexcel" disabled="disabled">Edexcel</option>
                                <option class="disabled" value="AQA" disabled="disabled">AQA</option>
                                <option class="disabled" value="OCR" disabled="disabled">OCR</option>
                            </select>
                            <label for="selectSubject">Subject</label>
                            <select id="selectSubject" name="subject" class="form-control">
                                <option disabled="" id="remove_subject">Loading...</option>
                            </select>
                            <label for="selectSyllabus">Syllabus</label>
                            <select id="selectSyllabus" name="syllabus" class="form-control">
                                <option disabled="" id="remove_syllabus">Loading...</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bootstrap fotter - needs inputting -->
</template>