<template name="learn">
    <div class="container">
        <div class="row" id="needs_margin_top">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" id="bodycontent" style="text-align:center;">
                <h1><font style="color:#3D3D3D;">Fill in the blanks</font></h1>
                <form class="form-inline" method="post" action="" id="blanks_form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="1">The four states of matter are </label>
                                <input id="1" class="form-control" type="text">
                                <label for="2">, </label>
                                <input id="2" class="form-control" type="text">
                                <label for="3">, </label>
                                <input id="3" class="form-control" type="text">
                                <label for="4">and</label>
                                <input id="4" class="form-control" type="text">
                                <label>. </label>
                            </div>
                        </div>
                    </div>
                </form>
                <button class="btn btn-success" type="submit" form="blanks_form" style="margin-top:15px;">Submit</button>
            </div>
        </div>
    </div>
    <!-- bootstrap fotter - needs inputting -->
</template>